---
---

@import " {{ site.theme }} ";

#sidebar {
  top: 16px;
  position: sticky;
  height: calc(100vh - 16px);
  overflow-x: hidden;
  overflow-y: scroll;
}

header h1 {
  word-break: break-all;
}

header h2 {
  color: #9ddcff;
  width: 100%;
  margin: 0;
  
  a {
    color: #9ddcff;
    text-decoration: underline;
  }
  
  a:hover {
    color: #9ddcff;
    text-decoration: none;
  }
}

table {
  margin-bottom: 8px;
  overflow-x: scroll;
  max-width: calc(100vw - 16px);
  
  th, td {
    padding: 8px;
  }
  
  th {
    font-weight: bold;
    color: black;
  }
  
  thead {
    background: rgba(157,220,255,0.3);
  }
  
  tbody {
    background: rgba(157,220,255,0.1);
  }
}
