---
---

@import " {{ site.theme }} ";

header h2 {
  margin-bottom: 8px;
}

header h3 {
  margin: 0;
  color: #9ddcff;
  
  a {
    color: #9ddcff;
    text-decoration: underline;
  }
  
  a::after {
    content: " · ";
    text-decoration: none;
  }
  
  a:last-child::after {
    content: "";
  }
}
