---
---

@import " {{ site.theme }} ";

header h2 {
  color: #9ddcff;
  
  a {
    color: #9ddcff;
    text-decoration: underline;
  }
  
  a:hover {
    color: #9ddcff;
    text-decoration: none;
  }
}
