---
---

@import " {{ site.theme }} ";

header h2 {
  color: #9ddcff;
  
  a {
    color: #9ddcff;
    text-decoration: underline;
  }
  
  a:hover {
    color: #9ddcff;
    text-decoration: none;
  }
}

table {
  margin-bottom: 8px;
  
  th, td {
    padding: 8px;
  }
  
  th {
    font-weight: bold;
    color: black;
  }
  
  thead {
    background: rgba(157,220,255,0.3);
  }
  
  tbody {
    background: rgba(157,220,255,0.1);
  }
}
