---
---

@import " {{ site.theme }} ";

header h2 {
  color: #9ddcff;
  
  a {
    color: #9ddcff;
    text-decoration: underline;
  }
  
  a:hover {
    color: #9ddcff;
    text-decoration: none;
  }
}

table {
  th, td {
    padding: 8px;
  }
  
  th {
    font-weight: bold;
    color: black;
  }
}
