---
---

@import " {{ site.theme }} ";

#sidebar {
  top: 16px;
  position: sticky;
  height: calc(100vh - 16px);
  overflow-x: hidden;
  overflow-y: scroll;
}

header h1 {
  width: 100%;
}

header h2 {
  color: #9ddcff;
  width: 100%;
  margin: 0;
  
  a {
    color: white;
    text-decoration: underline;
    
    &:hover {
      color: black;
    }
    
    &.sub {
      color: #9ddcff;
      
      &:hover {
        color: black;
      }
    }
  }
}

table {
  margin-bottom: 8px;
  overflow-x: scroll;
  max-width: calc(100vw - 16px);
  
  th, td {
    padding: 8px;
  }
  
  th {
    font-weight: bold;
    color: black;
  }
  
  thead {
    background: rgba(157,220,255,0.3);
  }
  
  tbody {
    background: rgba(157,220,255,0.1);
  }
}

pre code {
  background: transparent;
}

input, button {
  --width: 100px;
  
  display: inline-block;
  border: 1px solid #808080;
  margin-bottom: 8px;
  background: white;
  transition: 0.1s;
  outline: none;
  
  &:focus {
    outline: none;
  }
  
  &:hover, &:focus {
    background: #e0e0e0;
  }
}

input {
  padding: 10.5px;
  position: relative;
  top: 1px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: calc(100% - 35px - var(--width));
  border-right: none;
}

button {
  padding: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: var(--width);
}
