---
---

@import " {{ site.theme }} ";

#sidebar {
  position: sticky;
  top: 0;
  height: calc(100vh - 16px);
  padding-top: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
}

header h1 {
  width: 100%;
}

header h2 {
  color: #9ddcff;
  width: 100%;
  margin: 0;
  
  a {
    color: white;
    text-decoration: underline;
    
    &:hover {
      color: black;
    }
    
    &.sub {
      color: #9ddcff;
      
      &:hover {
        color: black;
      }
    }
  }
}

table {
  margin-bottom: 8px;
  overflow-x: scroll;
  max-width: calc(100vw - 16px);
  
  th, td {
    padding: 8px;
  }
  
  th {
    font-weight: bold;
    color: black;
  }
  
  thead {
    background: rgba(157,220,255,0.3);
  }
  
  tbody {
    background: rgba(157,220,255,0.1);
  }
}

pre code {
  background: transparent;
}

input, button {
  --width: 100px;
  
  display: none;
  border: 1px solid #808080;
  margin-bottom: 8px;
  background: white;
  transition: 0.1s;
  outline: none;
  
  &:focus {
    outline: none;
  }
  
  &:hover, &:focus {
    background: #e0e0e0;
  }
}

input {
  padding: 10.5px;
  position: relative;
  top: 1px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: calc(100% - 35px - var(--width));
  border-right: none;
}

button {
  padding: 8px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: var(--width);
}

li.navi {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.zsnout-tomorrow .zsnout_gutter {
  background: #f6f6f6;
  color: #4D4D4C;
}

.zsnout-tomorrow .zsnout_print-margin {
  width: 1px;
  background: #f6f6f6;
}

.zsnout-tomorrow {
  background-color: #FFFFFF;
  color: #4D4D4C;
}

.zsnout-tomorrow .zsnout_cursor {
  color: #AEAFAD;
}

.zsnout-tomorrow .zsnout_marker-layer .zsnout_selection {
  background: #D6D6D6;
}

.zsnout-tomorrow.zsnout_multiselect .zsnout_selection.zsnout_start {
  box-shadow: 0 0 3px 0px #FFFFFF;
}

.zsnout-tomorrow .zsnout_marker-layer .zsnout_step {
  background: rgb(255, 255, 0);
}

.zsnout-tomorrow .zsnout_marker-layer .zsnout_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #D1D1D1;
}

.zsnout-tomorrow .zsnout_marker-layer .zsnout_active-line {
  background: #EFEFEF;
}

.zsnout-tomorrow .zsnout_gutter-active-line {
  background-color: #dcdcdc;
}

.zsnout-tomorrow .zsnout_marker-layer .zsnout_selected-word {
  border: 1px solid #D6D6D6;
}

.zsnout-tomorrow .zsnout_invisible {
  color: #D1D1D1;
}

.zsnout-tomorrow .zsnout_keyword,
.zsnout-tomorrow .zsnout_meta,
.zsnout-tomorrow .zsnout_storage,
.zsnout-tomorrow .zsnout_storage.zsnout_type,
.zsnout-tomorrow .zsnout_support.zsnout_type {
  color: #8959A8;
}

.zsnout-tomorrow .zsnout_keyword.zsnout_operator {
  color: #3E999F;
}

.zsnout-tomorrow .zsnout_constant.zsnout_character,
.zsnout-tomorrow .zsnout_constant.zsnout_language,
.zsnout-tomorrow .zsnout_constant.zsnout_numeric,
.zsnout-tomorrow .zsnout_keyword.zsnout_other.zsnout_unit,
.zsnout-tomorrow .zsnout_support.zsnout_constant,
.zsnout-tomorrow .zsnout_variable.zsnout_parameter {
  color: #F5871F;
}

.zsnout-tomorrow .zsnout_constant.zsnout_other {
  color: #666969;
}

.zsnout-tomorrow .zsnout_invalid {
  color: #FFFFFF;
  background-color: #C82829;
}

.zsnout-tomorrow .zsnout_invalid.zsnout_deprecated {
  color: #FFFFFF;
  background-color: #8959A8;
}

.zsnout-tomorrow .zsnout_fold {
  background-color: #4271AE;
  border-color: #4D4D4C;
}

.zsnout-tomorrow .zsnout_entity.zsnout_name.zsnout_function,
.zsnout-tomorrow .zsnout_support.zsnout_function,
.zsnout-tomorrow .zsnout_variable {
  color: #4271AE;
}

.zsnout-tomorrow .zsnout_support.zsnout_class,
.zsnout-tomorrow .zsnout_support.zsnout_type {
  color: #C99E00;
}

.zsnout-tomorrow .zsnout_heading,
.zsnout-tomorrow .zsnout_markup.zsnout_heading,
.zsnout-tomorrow .zsnout_string {
  color: #718C00;
}

.zsnout-tomorrow .zsnout_entity.zsnout_name.zsnout_tag,
.zsnout-tomorrow .zsnout_entity.zsnout_other.zsnout_attribute-name,
.zsnout-tomorrow .zsnout_meta.zsnout_tag,
.zsnout-tomorrow .zsnout_string.zsnout_regexp,
.zsnout-tomorrow .zsnout_variable {
  color: #C82829;
}

.zsnout-tomorrow .zsnout_comment {
  color: #8E908C;
}

.zsnout-tomorrow .zsnout_indent-guide {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bdu3f/BwAlfgctduB85QAAAABJRU5ErkJggg==) right repeat-y;
}
